.currency-wrapper {
    width: 370px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    background: #151a30;
}
.currency-wrapper header {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}
.currency-wrapper form {
    margin: 25px 0 5px 0;
}
form :where(input, select, button) {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
}
form p {
    font-size: 18px;
    margin-bottom: 5px;
    color: #8f9bb3;
}
form input {
    height: 50px;
    font-size: 18px;
    padding: 0 15px;
    color: #fff;
    background-color: #151a30;
    border: 1px solid #2e3a59;
}
form input:focus {
    border: 2px solid #0676ed;
}
form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
form input[type=number] {
  -moz-appearance: textfield;
}
form .drop-list {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}
.drop-list .select-box {
    display: flex;
    height: 45px;
    width: 115px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    border: 1px solid #2e3a59;
}
.select-box select {
    width: auto;
    font-size: 16px;
    margin: 0 -5px 0 5px;
    background-color: #141c2c;
    color: #fff;
}
.select-box select::-webkit-scrollbar {
    width: 8px;
}
.select-box select::-webkit-scrollbar-track {
    background: #1a1f38;
}
.select-box select::-webkit-scrollbar-thumb {
    background: #2e3a59;
    border-radius: 8px;
}
.select-box img {
    max-width: 25px;
}
.drop-list .icon {
    cursor: pointer;
    font-size: 22px;
    margin-top: 30px;
    color: #8f9bb2;
}
form .exchange-rate {
    font-size: 17px;
    margin: 20px 0 20px;
    color: #fff;
}