.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.menu a {    
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
  }